body {
font-size:12px;
}

nav ul li {
display:inline;
}

.oldie nav a {
margin:0 .7%;
}

.header-container header .logo {
max-width:80%;
font-size:1.5em;
}

.header-container header .mobile-nav ~ .menus {
width:100%;
padding:1em 0;
}

.header-container header .mobile-nav ~ .menus ul {
padding:0;
}

.intro-container {
background-image:url(../images/intro.jpg);
}

.blurb {
margin-top:250px;
}

.logo {
margin-left:20px;
}

.logoimg {
position:absolute;
height:100px;
margin-left:-60px;
}

.article-wrap {
padding:0 40px;
}

input[type='text'],input[type='number'],textarea {
font-size:16px;
}

.header-container header .mobile-nav div,.header-container header .mobile-nav:not(.open) ~ .menus,section#desktopArticles {
display:none;
}

.header-container header .mobile-nav.open .close,.header-container header .mobile-nav:not(.open) .bars,.header-container header .mobile-nav.open ~ .menus li,section#mobileScroller {
display:block;
}