* {
box-sizing:border-box;
}

html,body {
margin:0;
padding:0;
}

body {
font:400 16px/1.667 "Open Sans",sans-serif;
font-size:1em;
line-height:1.54;
background-color:#fff;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #ccc;
margin:1em 0;
padding:0;
}

audio,canvas,img,video {
vertical-align:middle;
}

fieldset {
border:0;
margin:0;
padding:0;
}

textarea {
resize:vertical;
}

footer {
background:#ccc;
}

a {
text-decoration:none;
}

.h-100 {
height:100%;
}

.w-100 {
width:100%;
}

.w-75 {
width:75%;
}

.w-50 {
width:50%;
}

.vw-100 {
width:100vw;
}

.vw-75 {
width:75vw;
}

.vw-50 {
width:50vw;
}

.vh-100 {
height:100vh;
}

.vh-75 {
height:75vh;
}

.vh-50 {
height:50vh;
}

.pos-absolute {
position:absolute;
}

.pos-relative {
position:relative;
}

.pos-fixed {
position:fixed;
}

.align-bottom {
z-index:-1;
}

.align-top {
z-index:3000;
}

.pos-fixed.align-top {
z-index:3001;
}

.bg-cover {
background-position:center center;
background-repeat:no-repeat;
background-size:cover;
}

.bg-white {
background-color:#fff;
}

.txt-shadow {
text-shadow:0 1px 1px #333;
}

.txt-center {
text-align:center;
}

.no-overflow {
overflow:hidden;
}

.no-style {
list-style:none;
}

.clearfix:before,.clearfix:after {
content:" ";
display:table;
}

.clearfix:after {
clear:both;
}

.flex-vertical {
flex-direction:column;
-webkit-flex-direction:column;
}

.flex-h-start,.flex-h-left {
display:0;
justify-content:flex-start;
-webkit-justify-content:flex-start;
}

.flex-h-end,.flex-h-right {
display:0;
-webkit-justify-content:flex-end;
justify-content:flex-end;
}

.flex-h-center {
display:0;
-webkit-justify-content:center;
justify-content:center;
}

.flex-h-space-between {
display:0;
-webkit-justify-content:space-between;
justify-content:space-between;
}

.flex-h-space-around {
display:0;
-webkit-justify-content:space-around;
justify-content:space-around;
}

.flex-v-start,.flex-v-top {
display:0;
-webkit-align-items:flex-start;
align-items:flex-start;
}

.flex-v-end,.flex-v-bottom {
display:0;
-webkit-align-items:flex-end;
align-items:flex-end;
}

.flex-v-center {
display:0;
-webkit-align-items:center;
align-items:center;
}

.flex-v-space-between {
display:0;
-webkit-align-content:space-between;
align-content:space-between;
}

.flex-v-space-around {
display:0;
-webkit-align-content:space-around;
align-content:space-around;
}

.wrapper {
width:90%;
max-width:1162px;
margin:0 auto;
padding:1em 5%;
}

.header-container.half-scrolled {
background:#fff;
border-bottom:1px solid #ccc;
}

.header-container nav a {
display:block;
font-weight:700;
padding:0 1em;
}

.headline {
color:#336502;
}

#desktopArticles {
padding:20px;
}

.article-wrap,#mobileScroller {
background-color:#fdfeec;
}

.article-wrap img {
float:left;
margin:0 10px 0 0;
}

[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak {
display:none!important;
}

input[type="text"] {
border:solid 1px #dcdcdc;
transition:box-shadow .3s border .3s;
padding:10px;
}

input[type="text"]:focus,input[type="text"].focus {
border:solid 1px #707070;
box-shadow:0 0 5px 1px #969696;
}

#mobileScroller,#mobileScroller ul,#mobileScroller ul li {
height:275px;
}

#mobileScroller ul li {
padding-right:20px;
margin:20px;
}

html,button,input,select,textarea,.header-container.half-scrolled,.header-container.half-scrolled a {
color:#333;
}

::-moz-selection,::selection {
background:#b3d4fc;
text-shadow:none;
}

.h-75,.h-50 {
height:50%;
}

.txt-white,.header-container:not(.half-scrolled),.header-container:not(.half-scrolled) a {
color:#fff;
}

.article-container,#mobileScroller {
margin:0 0 20px;
}