<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Daily Marmoset</title>
    <meta name "description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- fonts -->
    <link href="css/vendor/google-open-sans.css" rel="stylesheet">
    <link href="css/vendor/font-awesome.css" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="css/vendor/normalize.min.css">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/carousel.css" />
    <link rel="stylesheet" media="(max-width: 767px)" href="css/mobile.css" />
    <link rel="stylesheet" media="(min-width: 768px)" href="css/desktop.css" />
    <link rel="stylesheet" media="print" href="css/print.css" />

    <!-- javascript -->
    <!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
  <![endif]-->
</head>
<!-- scroll-watch directive attached to body here, and assigning the main controller to the whole page. -->
<body data-ng-app="myApp" data-ngd-watch-scroll data-ng-controller="main">
    <!--[if lt IE 7]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->
  <!-- here's a little trick to make the header use the scroll-watch info to be all cool -->
    <div class="header-container pos-fixed w-100 align-top" data-ng-class="{'half-scrolled': winTop/winHeight > 0.5}">
        <div ng-include="'header.html'"></div>
    </div>

    <article class="intro-container bg-cover txt-white flex-vertical pos-fixed w-100 vh-100 flex-h-center align-bottom">

        <section class="flex-h-center clearfix txt-center pos-absolute w-100 scrolldown">
            <i class="fa fa-chevron-down fa-2x"></i>
        </section>
    </article>
    <div class="w-100 vh-100">
    </div>

    <article class="main-container bg-white h-100">
        <header>
            <div class="wrapper txt-center">
                <h1>Top Stories</h1>
                <div id="filterbox">
                    <form action="#">
                        <input data-ngd-tag-filter class="w-100" type="text" name="dynasearch" value="" id="dynasearch" placeholder="start typing a tag to filter stories" />
                    </form>
                </div>
            </div>
        </header>
		<!-- here is the mobile view of the data.  It has an angular repeat bound to the slide data -->
        <section id="mobileScroller">

            <ul rn-carousel rn-carousel-index="carouselIndex" class="clearfix w-100 no-style" id="slideContainer">
                <li class="pull-left article-wrap" ng-repeat="slide in mobileSlides" data-tags="{{ slide.tagtext }}">

                    <h2><a href="#"><img data-ng-src="{{ slide.img }}" class="article-thumb" data-ng-alt="{{ slide.headline }}"><span data-ng-bind="slide.headline" class="headline"></span></a></h2>
                    <p data-ng-bind="slide.date"></p>
                    <p data-ng-bind="slide.description"></p>
                    <p data-ng-cloak data-ng-show="slide.tagtext.length"><span class="tag" data-ng-bind="slide.tagtext"></span>
                    </p>


                </li>
            </ul>
        </section>
        <!-- here is the desktop view of the data with a similar binding, but different style and layout. -->
        <section id="desktopArticles">
            <ul class="bg-white no-style" id="articleContainer">
                <li class="clearfix article-container" data-ng-repeat="slide in desktopSlides" data-tags="{{ slide.tagtext }}">
                    <div class="wrapper article-wrap">

                        <a href="#"><h2><img data-ng-src="{{ slide.img }}" class="article-thumb" data-ng-alt="{{ slide.headline }}"><span data-ng-bind="slide.headline" class="headline"></span></h2></a>
                        <p data-ng-bind="slide.date"></p>
                        <p data-ng-bind="slide.description"></p>
                    	<p data-ng-cloak data-ng-show="slide.tagtext.length"><span class="tag" data-ng-bind="slide.tagtext"></span>
                    	</p>
                    </div>
                </li>
            </ul>
        </section>
    </article>
    <footer>
        <div class="wrapper clearfix">
            <div class="pull-left"></div>
            <div class="pull-right"></div>
        </div>
    </footer>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-touch.min.js"></script>
    <script src="js/vendor/angular-carousel.js"></script>
    <script src="js/app.js"></script>
</body>

</html>